//Font
$fontSize: 16px;
$fontDarkGray: #2d3438;
$fontGray: #9fa6aa;
$fontMedGray: #656a6f;
$fontTanGray: #e2e2e2;

//Colors
$bgGray: #a4aeb0;
$bgLightGray: #f3f4f5;
$blue: #0088c0;
$bgGrayHover: #646d72;
$white: #fff;
$borderLight: #cad2d7;
$borderDark: #cad2d7;
$font: 'Roboto', sans-serif;
$fontBold: 'Roboto Condensed', sans-serif;
$fontAlter: 'Open Sans', sans-serif;
$fontSerif: 'Noto Serif', serif;

//Sizes
$smallMin: 320px;
$smallMax: 480px;
$medMin: 768px;
$medMax: 1024px;
$largeMin: 1224px;
$xLargeMin: 1824px;
